---
import { ConditionalWrapper, Footer, Menu } from 'webcoreui/astro'

import SEO from '@blocks/SEO/SEO.astro'

import type { LayoutProps } from './layout'
import './layout.scss'

interface Props extends LayoutProps {}

const {
    seo,
    lang = 'en',
    menu,
    footer,
    className,
    containerClassName,
    ...rest
} = Astro.props

const hasLeftSidebar = Astro.slots.has('left-sidebar')
const hasRightSidebar = Astro.slots.has('right-sidebar')
const hasSidebar = hasLeftSidebar || hasRightSidebar

const containerClasses = [
    containerClassName || 'container',
    hasSidebar && 'flex column sm-row'
]
---

<!doctype html>
<html lang={lang}>
    <head>
        <SEO {...seo} />
    </head>
    <body {...rest}>
        {menu && (
            <Menu {...menu}>
                <slot name="menu" />
            </Menu>
        )}
        <slot name="atf" />
        <main class:list={containerClasses}>
            <slot name="left-sidebar" />
            <ConditionalWrapper condition={hasSidebar}>
                <div slot="wrapper" class:list={className}>children</div>
                <slot />
            </ConditionalWrapper>
            <slot name="right-sidebar" />
        </main>
        <slot name="above-footer" />
        {footer && (
            <Footer {...footer}>
                <slot name="footer" />
            </Footer>
        )}
        <slot name="scripts" />
    </body>
</html>
