@import '../../scss/config.scss';

.input {
    border-radius: 2px;
    padding: 5px 10px;
    border: 1px solid var(--w-color-primary-50);
    background: transparent;
    font-family: Regular;
    color: var(--w-color-primary);
    line-height: 20px;
    width: 100%;
    color-scheme: var(--w-color-scheme);

    &[disabled] {
        cursor: no-drop;
        color: var(--w-color-primary-30);
    }

    &::file-selector-button {
        background: transparent;
        border: 0;
        color: var(--w-color-primary);
    }

    &::placeholder {
        color: var(--w-color-primary-30);
    }

    &[type="color"] {
        padding: 0;
    }

    &.info {
        border-color: #48dbfb;
    }

    &.success {
        border-color: #1dd1a1;
    }

    &.warning {
        border-color: #f7aa61;
    }

    &.alert {
        border-color: #ee5253;
    }

    &.fill {
        background: var(--w-color-primary-50);
    }
}

.input-label {
    display: flex;
    flex-direction: column;

    .label {
        font-size: 16px;
        color: var(--w-color-primary-20);
        margin-bottom: 5px;
    }

    .wrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;

        input {
            padding-left: 40px;
        }

        svg {
            position: absolute;
            left: 10px;
            width: 20px;
            height: 20px;
        }
    }

    .subtext {
        font-size: 14px;
        color: var(--w-color-primary-30);
        margin-top: 5px;
    }
}
