@import '../../scss/config.scss';

.rating {
    display: inline-flex;
    align-items: center;
    color: var(--w-rating-color);
    font-size: var(--w-rating-size);

    &.outline .empty {
        transform: scale(.9);
        transform-origin: left;
        color: black;
        letter-spacing: 2px;
        text-shadow:
            -1px 0 var(--w-rating-empty-color),
            0 1px var(--w-rating-empty-color),
            1px 0 var(--w-rating-empty-color),
            0 -1px var(--w-rating-empty-color);
    }

    .empty {
        color: var(--w-rating-empty-color);
    }

    a {
        text-decoration: underline;
    }
    
    .text {
        font-size: 16px;
        color: var(--w-color-primary-20);
        margin-left: 5px;

        &.m {
            margin-right: 5px;
        }
    }
}
