---
import type { BadgeProps } from './badge'

import styles from './badge.module.scss'

interface Props extends BadgeProps {}

const {
    theme,
    hover,
    className,
    ...rest
} = Astro.props

const classes = [
    styles.badge,
    theme && styles[theme],
    hover && styles.hover,
    className
]
---

<span class:list={classes} {...rest}>
    <slot />
</span>
