---
import type { BadgeProps } from './badge'
import './badge.scss'

interface Props extends BadgeProps {
    interactive?: boolean
}

const {
    theme,
    interactive,
    ...rest
} = Astro.props

const classes = [
    'w-badge',
    theme || null,
    interactive && 'hover'
]
---

<span class:list={classes} {...rest}>
    <slot />
</span>
