---
import type { BadgeProps } from './badge'
import styles from './badge.module.scss'

interface Props extends BadgeProps {
    interactive?: boolean
}

const {
    theme,
    interactive,
    ...rest
} = Astro.props

const classes = [
    styles.badge,
    theme && styles[theme],
    interactive && styles.hover
]
---

<span class:list={classes} {...rest}>
    <slot />
</span>
