@import '../../scss/config.scss';

.badge {
    @include Transition();
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    background: var(--w-color-primary);
    color: var(--w-color-primary-50);
    border: 0;

    &.hover {
        cursor: pointer;

        &:hover {
            background: var(--w-color-primary-20);
        }

        &.secondary:hover {
            background: var(--w-color-primary-40);
        }

        &.outline:hover {
            color: var(--w-color-primary);
            background: transparent;
            box-shadow: inset 0px 0px 0px 1px var(--w-color-primary);
        }

        &.flat:hover {
            background: var(--w-color-primary-40);
        }

        &.info:hover {
            background: #48dbfb;
        }

        &.success:hover {
            background: #1dd1a1;
        }

        &.warning:hover {
            background: #f7aa61;
        }

        &.alert:hover {
            background: #ee5253;
        }
    }

    
    &.secondary {
        background: var(--w-color-primary-50);
        color: var(--w-color-primary);
    }

    &.outline {
        background: var(--w-color-primary-70);
        color: var(--w-color-primary-20);
        box-shadow: inset 0px 0px 0px 1px var(--w-color-primary-20);
    }

    &.flat {
        background: var(--w-color-primary-70);;
        color: var(--w-color-primary);
    }

    &.info {
        background: #0abde3;
    }

    &.success {
        background: #10ac84;
    }

    &.warning {
        background: #ff9f43;
    }

    &.alert {
        background: #e73f40;
        color: var(--w-color-primary);
    }
}
