@import 'webcoreui/config';

.faq {
    @include layout(flex, default, column);

    .col {
        flex: 3;
    }

    .title {
        @include typography('2xl', primary-10, bold);
        @include spacing(mb-sm);
        @include visibility(block);
    }

    .accordion {
        flex: 4;
    }
}

@include media(sm) {
    .faq {
        @include layout(row);
    }
}
