@import '../../scss/config.scss';

.button {
    @include Transition();
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    background: var(--w-color-primary);
    color: var(--w-color-primary-50);

    &[disabled] {
        cursor: no-drop;
        background: var(--w-color-primary-20);
    }

    &:hover {
        background: var(--w-color-primary-20);
    }
    
    &.secondary {
        background: var(--w-color-primary-50);
        color: var(--w-color-primary);

        &:hover {
            background: var(--w-color-primary-40);
        }
    }

    &.outline {
        background: transparent;
        color: var(--w-color-primary-20);
        box-shadow: inset 0px 0px 0px 1px var(--w-color-primary-20);
        
        &:hover {
            color: var(--w-color-primary);
            box-shadow: inset 0px 0px 0px 1px var(--w-color-primary);
        }
    }

    &.flat {
        background: transparent;
        color: var(--w-color-primary);

        &:hover {
            background: var(--w-color-primary-40);
        }
    }

    &.info {
        background: var(--w-color-info);
        color: var(--w-color-info-fg);

        &:hover {
            background: var(--w-color-info-accent);
        }
    }

    &.success {
        background: var(--w-color-success);
        color: var(--w-color-success-fg);

        &:hover {
            background: var(--w-color-success-accent);
        }
    }

    &.warning {
        background: var(--w-color-warning);
        color: var(--w-color-warning-fg);

        &:hover {
            background: var(--w-color-warning-accent);
        }
    }

    &.alert {
        background: var(--w-color-alert);
        color: var(--w-color-alert-fg);

        &:hover {
            background: var(--w-color-alert-accent);
        }
    }

    &.bold {
        font-family: Bold;
    }
}
