---
import type { ButtonProps } from './button'
import './button.scss'

interface Props extends ButtonProps {}

const {
    theme,
    bold,
    href,
    ...rest
} = Astro.props

const classes = [
    'w-button',
    bold && 'bold',
    theme
].filter(Boolean).join(' ')
---

{href ? (
    <a {...rest} href={href} class={classes || null}>
        <slot />
    </a>
) : (
    <button {...rest} class={classes || null}>
        <slot />
    </button>
)}
