---
import type { ButtonProps } from './button'

import styles from './button.module.scss'

interface Props extends ButtonProps {}

const {
    theme,
    href,
    className,
    ...rest
} = Astro.props

const classes = [
    styles.button,
    theme && styles[theme],
    className
]
---

{href ? (
    <a {...rest} href={href} class:list={classes}>
        <slot />
    </a>
) : (
    <button {...rest} class:list={classes}>
        <slot />
    </button>
)}
