---
import type { ButtonProps } from './button'
import styles from './button.module.scss'

interface Props extends ButtonProps {}

const {
    theme,
    bold,
    href,
    ...rest
} = Astro.props

const classes = [
    styles.button,
    bold && styles.bold,
    theme && styles[theme]
].filter(Boolean).join(' ')
---

{href ? (
    <a {...rest} href={href} class={classes || null}>
        <slot />
    </a>
) : (
    <button {...rest} class={classes || null}>
        <slot />
    </button>
)}
