---
import type { ButtonProps } from './button'

import styles from './button.module.scss'
import { classNames } from '../../utils/classNames'

interface Props extends ButtonProps {}

const {
    theme,
    href,
    className,
    ...rest
} = Astro.props

const classes = classNames([
    styles.button,
    theme && styles[theme],
    className
])
---

{href ? (
    <a {...rest} href={href} class={classes || null}>
        <slot />
    </a>
) : (
    <button {...rest} class={classes || null}>
        <slot />
    </button>
)}
