---
import type { CarouselItemProps } from './carouselItem'

export type Props = CarouselItemProps

const {
    active,
    className
} = Astro.props
---

<li class={className} data-active={active}>
    <slot />
</li>
