---
import type { TimelineItemProps } from './timelineitem'

import styles from './timelineitem.module.scss'

interface Props extends TimelineItemProps {}

const {
    title,
    titleTag = 'span',
    className
} = Astro.props

const classes = [
    styles.item,
    className
]

const Title = titleTag
---

<li class:list={classes}>
    {title && (
        <Title class:list={styles.title}>{title}</Title>
    )}
    <slot />
</li>
