---
import type { TimelineItemProps } from './timelineitem'
import './timelineitem.scss'

interface Props extends TimelineItemProps {}

const {
    title,
    titleTag = 'span',
    className
} = Astro.props

const classes = [
    'w-timeline-item',
    className
]

const Title = titleTag
---

<li class:list={classes}>
    {title && (
        <Title class:list="timeline-title">{title}</Title>
    )}
    <slot />
</li>
