@use '../../scss/config.scss' as *;

.item {
    @include position(relative);
    @include spacing(m0);

    &::before {
        @include position(absolute, t-5px);
        @include size(25px);
        @include border-radius(max);
        @include background(var(--w-timeline-color));
        @include typography(md);
        @include layout(inline-flex, center);
        @include border(2px, primary-70);

        content: counter(item, var(--w-timeline-counter));
        counter-increment: item;
        color: var(--w-timeline-text-color);
        margin-left: -40px;
    }

    .title {
        @include typography(bold, lg);
        @include spacing(mb-sm);

        display: block;
    }
}
