@import '../../scss/config.scss';

.tabs {
    &.boxed .items,
    &.outline .items {
        background: #252525;
        border-radius: 5px;
        padding: 5px;
        width: fit-content;

        button {
            @include Transition();
            border-radius: 5px;
            padding: 10px;

            &[data-active="true"] {
                border: 0;
                background: #000;
                padding-bottom: 10px;
            }
        }
    }

    &.outline .items {
        background: transparent;
        border: 1px solid #252525;

        button {
            margin-bottom: 0;

            &[data-active="true"] {
                background: #252525;
            }
        }
    }

    &.even .items button {
        flex: 1;
        justify-content: center;
    }

    &.vertical {
        display: flex;
        gap: 20px;

        &.boxed .items button,
        &.outline .items button {
            border-bottom: 0;
        }
        
        .items {
            flex-direction: column;
            gap: 5px;
            
            button {
                padding: 10px;
                border-bottom: 2px solid #252525;

                &[data-active="true"] {
                    padding-bottom: 10px;
                }
            }
        }

        .content {
            margin-top: 0;
        }
    }

    .wrapper {
        overflow: auto;
    }

    .items {
        border-bottom: 2px solid #252525;
        display: flex;
        gap: 10px;

        button {
            @include Transition(color);
            background: transparent;
            cursor: pointer;
            color: #FFF;
            border: 0;
            font-size: 16px;
            padding: 0;
            margin-bottom: -2px;
            padding: 15px 15px;
            color: #BBB;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            svg {
                pointer-events: none;
                width: 20px;
                height: 20px;
            }

            &[disabled] {
                color: #555;
                cursor: no-drop;
            }
            
            &[data-active="true"] {
                color: #FFF;
                border-bottom: 2px solid #FFF;
                padding-bottom: 13px;
            }
        }
    }

    .content {
        margin-top: 20px;
    }

    [data-tab] {
        display: none;

        &[data-active="true"] {
            display: block;
        }
    }
}

@include Media('xs') {
    .tabs {
        &.even .items {
            width: auto;
        }
    }
}
