---
import { Icon } from 'webcoreui/astro'

import { getAuthenticationTemplateData } from '@data'

import Authentication from '@templates/Authentication/Authentication.tsx'
---

<Authentication {...getAuthenticationTemplateData()}>
    <a
        slot="insideMenu"
        href="https://github.com/Frontendland/webcoreui"
        target="_blank"
        rel="noreferrer"
    >
        <Icon type="github" size={18} />
    </a>
</Authentication>
