---
import {
    Card,
    Checkbox,
    Radio,
    Switch,
    Toast
} from 'webcoreui/astro'

const radioItems = [
    { label: 'All messages', value: '1' },
    { label: 'Direct messages only', value: '2', selected: true },
    { label: 'No notifications', value: '3' }
]
---

<Card title="Settings">
    <div class="flex column">
        <Checkbox
            label="Enable all notifications"
            subText="Enable or disable all of your notification with one click. Previous settings will be overwritten."
        />
        <Switch label="Security emails" toggled={true} />
        <Switch label="Marketing emails" className="marketing" />
        <hr />
        <strong class="slack">Slack notifications</strong>
        <Radio
            items={radioItems}
            name="radio-example"
        />
    </div>
</Card>

<Toast theme="success" className="marketing-toast">
    Marketing emails enabled
</Toast>

<script>
    import { on, toast } from 'webcoreui'

    const addToast = () => {
        const marketing = document.querySelector('.marketing input')

        marketing?.addEventListener('change', (e: any) => {
            toast({
                element: '.marketing-toast',
                content: e.target.checked
                    ? 'Marketing emails enabled'
                    : 'Marketing emails disabled'
            })
        })
    }

    on(document, 'astro:after-swap', addToast)
    addToast()
</script>
