---
import { Card } from 'webcoreui/astro'

import type { SettingCardProps } from './settingCard'

export type Props = SettingCardProps

const {
    title,
    subTitle,
    ...rest
} = Astro.props
---

<Card
    secondary={true}
    flat={true}
    bodyClassName="flex column sm"
    {...rest}
>
    <div class="flex justify-between items-center xs">
        <div class="flex column xxs">
            <div>{title}</div>
            {subTitle && <div class="muted">{subTitle}</div>}
        </div>
        <slot />
    </div>
    <slot name="additional-content" />
</Card>
