---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import AstroButton from '@components/Button/Button.astro'
import SvelteButton from '@components/Button/Button.svelte'
import ReactButton from '@components/Button/Button.tsx'
import Icon from '@components/Icon/Icon.astro'

import { getSections } from '@helpers'

const sections = getSections({
    title: 'buttons',
    components: [AstroButton, SvelteButton, ReactButton]
})
---

<Layout docs="/docs/button">
    <h1>Button</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroButton>Button in Astro</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteButton theme="alert">
                Button in Svelte
            </SvelteButton>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactButton theme="info">
                Button in React
            </ReactButton>
        </ComponentWrapper>
    </div>

    {sections.map(section => (
        <h1>{section.title}</h1>
        <div class="grid md-2 lg-3">
            <ComponentWrapper title="Secondary">
                <section.component theme="secondary">
                    Secondary
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Outline">
                <section.component theme="outline">
                    Outline
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Flat">
                <section.component theme="flat">
                    Flat
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Disabled">
                <section.component disabled>
                    Disabled
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="With Icon">
                <section.component theme="secondary">
                    <Icon type="github" size={20} />
                    With Icon
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Info">
                <section.component theme="info">
                    Info
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Success">
                <section.component theme="success">
                    Success
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Warning">
                <section.component theme="warning">
                    Warning
                </section.component>
            </ComponentWrapper>

            <ComponentWrapper title="Alert">
                <section.component theme="alert">
                    Alert
                </section.component>
            </ComponentWrapper>
        </div>
    ))}
</Layout>
