---
import ComponentWrapper from '@static/ComponentWrapper.astro'
import Layout from '@static/Layout.astro'

import Button from '@components/Button/Button.astro'

const tooltipStyle = [
    '--w-tooltip-background: #10ac84',
    '--w-tooltip-color:#000'
].join(';')
---

<Layout>
    <h1>Tooltip</h1>
    <div class="grid md-2 lg-3">
        <ComponentWrapper title="Default">
            <span data-tooltip="Tooltip content">Default tooltip</span>
        </ComponentWrapper>

        <ComponentWrapper title="Custom color">
            <span data-tooltip="Tooltip content" style={tooltipStyle}>
                Colored tooltip
            </span>
        </ComponentWrapper>

        <ComponentWrapper title="Tooltip on button">
            <Button data-tooltip="Tooltip content">
                Hover me
            </Button>
        </ComponentWrapper>

        <ComponentWrapper title="Bottom position">
            <span data-tooltip="Tooltip content" data-position="bottom">
                Bottom tooltip
            </span>
        </ComponentWrapper>

        <ComponentWrapper title="Left position">
            <span data-tooltip="Tooltip content" data-position="left">
                Left tooltip
            </span>
        </ComponentWrapper>

        <ComponentWrapper title="Right position">
            <span data-tooltip="Tooltip content" data-position="right">
                Right tooltip
            </span>
        </ComponentWrapper>
    </div>
</Layout>
