.card {
    border: 1px solid #252525;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &.secondary {
        background: #111;

        .title {
            background: #000;
        }
    }

    .title {
        padding: 20px;
        display: block;
        border-bottom: 1px solid #252525;
        font-size: 16px;
    }

    .body {
        padding: 20px;
        height: 100%;
        position: relative;

        &.compact {
            border: 20px solid #111;
            background: #000;
            padding: 40px;
        }
    }
}
