---
import type { CardProps } from './card'

import styles from './card.module.scss'

interface Props extends CardProps {}

const {
    element = 'section',
    title,
    titleTag = 'span',
    compact,
    className,
    bodyClassName,
    secondary,
    flat,
    ...rest
} = Astro.props

const classes = [
    styles.card,
    secondary && styles.secondary,
    (flat && (compact || secondary)) && styles.flat,
    className
]

const bodyClasses = [
    styles.body,
    compact && styles.compact,
    bodyClassName
]

const titleClasses = [
    styles.title,
    flat && styles.flat
]

const Component = element
const Title = titleTag
---

<Component class:list={classes} {...rest}>
    {title && (
        <Title class:list={titleClasses} set:html={title} />
    )}
    <div class:list={bodyClasses}>
        <slot />
    </div>
</Component>
