.card {
    border: 1px solid #252525;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &.secondary {
        background: #111;

        .card-title {
            background: #000;
        }
    }

    .card-title {
        padding: 20px;
        display: block;
        border-bottom: 1px solid #252525;
        font-size: 16px;
    }

    .card-body {
        padding: 20px;
        height: 100%;

        &.compact {
            background: #111;
        }
    }

    .card-wrapper {
        background: #000;
        padding: 40px;
        height: 100%;
    }
}
