.card {
    border: 1px solid var(--w-color-primary-50);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &.secondary {
        background: var(--w-color-primary-60);

        .title {
            background: var(--w-color-primary-70);
        }
    }

    .title {
        padding: 20px;
        display: block;
        border-bottom: 1px solid var(--w-color-primary-50);
        font-size: 16px;
    }

    .body {
        padding: 20px;
        height: 100%;
        position: relative;

        &.compact {
            border: 20px solid var(--w-color-primary-60);
            background: var(--w-color-primary-70);
            padding: 40px;
        }
    }
}
