---
import type { CardProps } from './card'
import styles from './card.module.scss'

interface Props extends CardProps {}

const {
    element = 'section',
    title,
    titleTag = 'span',
    compact,
    className,
    secondary,
    ...rest
} = Astro.props

const classes = [
    styles.card,
    secondary && styles.secondary,
    className,
].filter(Boolean).join(' ')

const Component = element
const Title = titleTag
---

<Component class:list={classes} {...rest}>
    {title && (
        <Title class:list={styles.title}>{title}</Title>
    )}
    <div class:list={[styles.body, compact && styles.compact]}>
        {compact && !secondary ? (
            <div class={styles.wrapper}><slot /></div>
        ) : (
            <slot />
        )}
    </div>
</Component>
