---
import type { CardProps } from './card'

interface Props extends CardProps {}

const {
    element = 'section',
    title,
    titleTag = 'span',
    compact,
    className,
    secondary,
    ...rest
} = Astro.props

const classes = [
    'w-card',
    className,
    secondary && 'secondary',
].filter(Boolean).join(' ')

const props = {
    class: classes
}

const Component = element
const Title = titleTag
---

<Component {...props} {...rest}>
    {title && (
        <Title class="card-title">{title}</Title>
    )}
    <div class="card-body" class:list={[compact && 'compact']}>
        {compact && !secondary ? (
            <div class="card-wrapper"><slot /></div>
        ) : (
            <slot />
        )}
    </div>
</Component>

<style lang="scss">
    @import './card.scss';
</style>
