@use '../../scss/config.scss' as *;

.masonry {
    --gap: var(--w-masonry-gap, 5px);

    @include layout(flex);

    gap: var(--gap);
    overflow-x: auto;

    .column {
        @include layout(flex, column);

        gap: var(--gap);
    }
}
