---
import { getPortfolioTemplateData } from '@data'

import Portfolio, { type Props as PortfolioProps } from '@templates/Portfolio/Portfolio.tsx'
---

<Portfolio {...getPortfolioTemplateData('info') as PortfolioProps}>
    <div slot="insideMenu">
        <a href="tel:+1 234 5678">+1 234 5678</a>
        <span>•</span>
        <a href="mailto:josh@example.com">josh@example.com</a>
    </div>
</Portfolio>
