---
import Button from '@components/Button/Button.astro'
import Card from '@components/Card/Card.astro'
import Accordion from '@components/Accordion/Accordion.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Webcore</title>
	</head>
	<body>
		<div class="container">
            <a href="/">
                <img src="/img/logo.png" alt="Logo" />
            </a>
			<h1>Accordion</h1>
            <Accordion
                items={[{
                    title: 'Do you offer support?',
                    content: 'We provide 30 days of support.'
                }, {
                    title: 'Can I request customizations?',
                    content: 'Yes!'
                }, {
                    title: 'Are there any refunds?',
                    content: 'Hopefully.'
                }]}
            />
		</div>
	</body>
</html>

<style is:global lang="scss">
    @import '../scss/index.scss';
	@include Setup();

	.container {
		margin-top: 20px;
	}

	h1 {
		margin: 100px 0 10px;
		font-size: 48px;
		text-align: center;
	}
</style>
