---
import Layout from '@static/Layout.astro'
import ComponentWrapper from '@static/ComponentWrapper.astro'

import AstroAccordion from '@components/Accordion/Accordion.astro'
import SvelteAccorion from '@components/Accordion/Accordion.svelte'
import { Accordion as ReactAccordion } from '@components/Accordion/Accordion.tsx'

const accordionItems = [{
    title: 'Do you offer support?',
    content: 'We provide 30 days of support.'
}, {
    title: 'Can I request customizations?',
    content: 'Yes!'
}, {
    title: 'Are there any refunds?',
    content: 'Hopefully.'
}]
---

<Layout>
    <h1>Accordion</h1>
    
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroAccordion items={accordionItems} />
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteAccorion items={accordionItems} client:load />
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactAccordion items={accordionItems} client:load />
        </ComponentWrapper>
    </div>
</Layout>
