---
import Layout from '@static/Layout.astro'

import Deployments from '@blocks/Deployments/Deployments.astro'
import Profile from '@blocks/Profile/Profile.astro'
import Seller from '@blocks/Seller/Seller.astro'
import SEO from '@blocks/SEO/SEO.astro'
import Settings from '@blocks/Settings/Settings.astro'
import SignUp from '@blocks/SignUp/SignUp.astro'
import Timeline from '@blocks/Timeline/Timeline.astro'

---

<Layout docs="/docs/astro">
    <h1>Astro Example Components</h1>
    <div class="grid xs-2 sm-3">
        <div class="flex column">
            <SignUp />
            <Timeline />
        </div>
        <div class="flex column">
            <Settings />
            <SEO />
        </div>
        <div class="flex column">
            <Profile />
            <Seller />
            <Deployments />
        </div>
    </div>
</Layout>
