---
import Layout from '@static/Layout.astro'
import ComponentWrapper from '@static/ComponentWrapper.astro'

import Icon from '@components/Icon/Icon.astro'
import AstroButton from '@components/Button/Button.astro'
import SvelteButton from '@components/Button/Button.svelte'
import { Button as ReactButton } from '@components/Button/Button.tsx'
---

<Layout>
    <h1>Button</h1>
    
    <div class="grid md-2 lg-3">
        <ComponentWrapper type="Astro">
            <AstroButton>Button in Astro</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper type="Svelte">
            <SvelteButton theme="alert">
                Button in Svelte
            </SvelteButton>
        </ComponentWrapper>

        <ComponentWrapper type="React">
            <ReactButton theme="info">
                Button in React
            </ReactButton>
        </ComponentWrapper>

        <ComponentWrapper title="Secondary">
            <AstroButton theme="secondary">Secondary</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Outline">
            <AstroButton theme="outline">Outline</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Flat">
            <AstroButton theme="flat">Flat</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Disabled">
            <AstroButton disabled>Disabled</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="With Icon">
            <AstroButton theme="secondary">
                <Icon type="github" size={20} />
                With Icon
            </AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Info">
            <AstroButton theme="info">Info</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Success">
            <AstroButton theme="success">Success</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Warning">
            <AstroButton theme="warning">Warning</AstroButton>
        </ComponentWrapper>

        <ComponentWrapper title="Alert">
            <AstroButton theme="alert">Alert</AstroButton>
        </ComponentWrapper>
    </div>
</Layout>
