---
import Layout from '@static/Layout.astro'
import CardWrapper from '@static/CardWrapper.astro'

import Accordion from '@components/Accordion/Accordion.astro'
import Alert from '@components/Alert/Alert.astro'
import Avatar from '@components/Avatar/Avatar.astro'
import Badge from '@components/Badge/Badge.astro'
import Button from '@components/Button/Button.astro'
import Icon from '@components/Icon/Icon.astro'
import Radio from '@components/Radio/Radio.astro'
import Rating from '@components/Rating/Rating.astro'
import Switch from '@components/Switch/Switch.astro'
import Checkbox from '@components/Checkbox/Checkbox.astro'
---

<Layout>
    <h1>
        Component library for <br />
        <span class="a">Astro</span>,
        <span class="s">Svelte</span>, and
        <span class="r">React</span>
    </h1>
    <h2>
        Rocket launch your frontend projects with fully coded components. <br />
        Configurable. Themeable. Accessible.
    </h2>
    <div class="cta">
        <Button
            href="https://github.com/Frontendland/webcoreui" target="_blank"
            theme="secondary"
        >
            <Icon type="github" size={20} />
            GitHub
        </Button>
    </div>
    <div class="grid md-2 lg-3">
        <CardWrapper title="Accordion" href="/accordion">
            <Accordion
                items={[{
                    title: 'Do you offer support?',
                    content: 'We provide 30 days of support.'
                }, {
                    title: 'Can I request changes?',
                    content: 'Yes!'
                }, {
                    title: 'Are there any refunds?',
                    content: 'Hopefully.'
                }]}
            />
        </CardWrapper>
        <CardWrapper title="Alert" href="/alert">
            <Alert title="💡 Note">You can create alert boxes.</Alert>
        </CardWrapper>
        <CardWrapper title="Avatar" href="/avatar">
            <Avatar
                size={[30, 40, 50, 40, 30]}
                img={[
                    '/img/avatar0.png',
                    '/img/avatar1.png',
                    '/img/avatar2.png',
                    '/img/avatar3.png',
                    '/img/avatar4.png'
                ]}
            />
        </CardWrapper>
        <CardWrapper title="Badge" href="/badge">
            <Badge theme="outline">Badge</Badge>
        </CardWrapper>
        <CardWrapper title="Button" href="/button">
            <Button>Primary</Button>
            <Button theme="secondary">Secondary</Button>
        </CardWrapper>
        <CardWrapper title="Card" href="/card">
            <p>Paragraph inside a card</p>  
        </CardWrapper>
        <CardWrapper title="Checkbox" href="/checkbox">
            <Checkbox checked={true} label="Accept terms and conditions" />
        </CardWrapper>
        <CardWrapper title="Icon" href="/icon">
            <Icon
                type="github"
                size={12}
                color="#32e3a0"
            />
            <Icon
                type="github"
                size={16}
                color="#32cae3"
            />
            <Icon
                type="github"
                size={20}
                color="#ad74f7"
            />
            <Icon
                type="github"
                size={24}
                color="#ff89aa"
            />
            <Icon
                type="github"
                size={30}
                color="#f2c262"
            />
        </CardWrapper>
        <CardWrapper title="Radio" href="/radio">
            <Radio
                items={[{ label: 'Radio', selected: true }]}
                name="radio"
            />
        </CardWrapper>
        <CardWrapper title="Rating" href="/rating">
            <Rating score={4} />
        </CardWrapper>
        <CardWrapper title="Switch" href="/switch">
            <Switch toggled={true} />
        </CardWrapper>
    </div>
</Layout>

<style is:global lang="scss">

    .a {
        background: #B545ED;
        background: linear-gradient(to right, #505FFF, #B545ED);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .s {
        color: #FF3E00;
    }
    
    .r {
        color: #61DAFB;
    }

    .cta {
        text-align: center;
    }
    
    .grid {
        margin-top: 100px;
        
        .card-wrapper {
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    }
</style>
