---
import Layout from '@static/Layout.astro'
import ReactPlayground from '@playground/ReactPlayground.tsx'
---

<Layout>
    <h1>React Playground</h1>
    <h2>For interactive elements</h2>
    <ReactPlayground client:load />
</Layout>
