---
import Layout from '@static/Layout.astro'

import Deployments from '@blocks/Deployments/Deployments.svelte'
import Profile from '@blocks/Profile/Profile.svelte'
import Seller from '@blocks/Seller/Seller.svelte'
import SEO from '@blocks/SEOPerformance/SEOPerformance.svelte'
import Settings from '@blocks/Settings/Settings.svelte'
import SignUp from '@blocks/SignUp/SignUp.svelte'
import Timeline from '@blocks/Timeline/Timeline.svelte'

---

<Layout docs="/docs/svelte">
    <h1>Svelte Example Components</h1>
    <div class="grid xs-2 sm-3">
        <div class="flex column">
            <SignUp />
            <Timeline />
        </div>
        <div class="flex column">
            <Settings client:load />
            <SEO />
        </div>
        <div class="flex column">
            <Profile client:load />
            <Seller />
            <Deployments client:load />
        </div>
    </div>
</Layout>
