---
import Layout from '@static/Layout.astro'

import SveltePlayground from '@playground/SveltePlayground.svelte'
---

<Layout docs="/docs/svelte">
    <h1>Svelte Playground</h1>
    <h2>For interactive elements</h2>
    <SveltePlayground client:load />
</Layout>
