@import '../../scss/config.scss';

.w-alert {
    border: 1px solid var(--w-color-primary-50);
    border-radius: 5px;
    padding: 15px;
    display: flex;

    &.col {
        flex-direction: column;
    }

    &:not(.col) {
        gap: 10px;
    }

    &.info {
        border: 1px solid var(--w-color-info);
        color: var(--w-color-info);
    }

    &.success {
        border: 1px solid var(--w-color-success);
        color: var(--w-color-success);
    }

    &.warning {
        border: 1px solid var(--w-color-warning);
        color: var(--w-color-warning);
    }

    &.alert {
        border: 1px solid var(--w-color-alert);
        color: var(--w-color-alert);
    }

    svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        margin-top: 1px;
    }

    .title {
        display: block;
        margin-bottom: 5px;
    }

    .body {
        font-size: 16px;
        color: var(--w-color-primary-20);
        line-height: 1.5;
    }
}
