@import '../config';

@mixin Elements() {
    code {
        display: inline-block;
        padding: 2px 10px;
        border-radius: 5px;
        border: 1px solid var(--w-color-primary-50);
        font-size: 14px;
    }
}
