@import '../config';

@mixin Scrollbar() {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 5px;
        background: var(--w-scrollbar-bg);
        cursor: pointer;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--w-scrollbar-fg);
        cursor: pointer;
    }
}

