---
import Layout from '@static/Layout.astro'

import Deployments from '@blocks/Deployments/Deployments.tsx'
import Profile from '@blocks/Profile/Profile.tsx'
import Seller from '@blocks/Seller/Seller.tsx'
import SEO from '@blocks/SEOPerformance/SEOPerformance.tsx'
import Settings from '@blocks/Settings/Settings.tsx'
import SignUp from '@blocks/SignUp/SignUp.tsx'
import Timeline from '@blocks/Timeline/Timeline.tsx'

---

<Layout docs="/docs/react">
    <h1>React Example Components</h1>
    <div class="grid xs-2 sm-3">
        <div class="flex column">
            <SignUp />
            <Timeline />
        </div>
        <div class="flex column">
            <Settings client:load />
            <SEO />
        </div>
        <div class="flex column">
            <Profile client:load />
            <Seller />
            <Deployments client:load />
        </div>
    </div>
</Layout>
