@import '../../scss/config.scss';

.table {
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        font-size: 16px;
    }

    thead,
    tfoot {
        font-family: Bold;
    }

    th,
    td {
        padding: 5px 10px;
    }

    thead,
    tr {
        border-bottom: 1px solid var(--w-color-primary-50);

        &:last-child {
            border-bottom: 0;
        }
    }

    a {
        text-decoration: underline;
    }

    tfoot,
    &.hover tr:hover,
    &.striped-rows tbody tr:nth-child(odd),
    &.striped-rows.offset tbody tr:nth-child(even),
    &.striped-columns td:nth-child(odd),
    &.striped-columns.offset td:nth-child(even),
    &.hover.striped-rows.offset tbody tr:nth-child(odd):hover {
        background: var(--w-color-primary-60);
    }

    &.striped-rows tr,
    &.striped-columns tr,
    &.striped-columns thead {
        border-bottom: 0;
    }

    &.striped-rows.offset tbody tr:nth-child(odd),
    &.striped-rows.offset tfoot,
    &.striped-columns.offset td:nth-child(odd),
    &.striped-columns tfoot {
        background: transparent;
    }

    &.compact {
        th, td {
            padding: 3px 10px;
        }
    }
}
