@import '../../scss/config.scss';

.avatar {
    border-radius: 100%;

    &:not(.borderless) {
        border: 3px solid var(--w-avatar-border);
    }
}

.group {
    display: inline-flex;
    align-items: center;

    &.reverse {
        flex-direction: row-reverse;

        img {
            z-index: 1;
        }

        img:not(:first-child) {
            margin-right: -10px;
            margin-left: 0;
        }
    }

    img:not(:first-child) {
        margin-left: -10px;
    }

    img {
        z-index: var(--w-avatar-index);
    }
}
