---
import { Card, Switch } from 'webcoreui/astro'

import Layout from '@static/Layout.astro'
import Link from '@static/Link.astro'

import BlogCard from '@blocks/BlogCard/BlogCard.astro'
import ComponentMap from '@blocks/ComponentMap/ComponentMap.astro'
import ErrorPage from '@blocks/ErrorPage/ErrorPage.astro'
import FAQ from '@blocks/FAQ/FAQ.astro'
import GridWithIcons from '@blocks/GridWithIcons/GridWithIcons.astro'
import Hero from '@blocks/Hero/Hero.astro'
import IconList from '@blocks/IconList/IconList.astro'
import SettingCard from '@blocks/SettingCard/SettingCard.astro'
import SignUp from '@blocks/SignUp/SignUp.astro'
import SocialProof from '@blocks/SocialProof/SocialProof.astro'
import Tiles from '@blocks/Tiles/Tiles.astro'
import User from '@blocks/User/User.astro'
---

<Layout>
    <h1>Blocks</h1>

    <div class="flex wrap justify-center">
        <div class="block-column flex column">
            <div class="relative">
                <SignUp />
                <Link href="/blocks/sign-up" />
            </div>
            <Card title="Settings" bodyClassName="flex column sm">
                <SettingCard
                    title="Security emails"
                    subTitle="Get security alerts for logins."
                >
                    <Switch toggled={true} />
                </SettingCard>
                <SettingCard
                    title="Marketing emails"
                    subTitle="Get email about updates."
                >
                    <Switch />
                </SettingCard>
                <Link href="/blocks/setting-card" />
            </Card>
            <Card>
                <GridWithIcons items={[{
                    icon: 'components',
                    title: 'Grid with Icons',
                    text: 'Use the <code>GridWithIcons</code> block to organize your list into a grid with icons to enhance clarity and visual appeal.'
                }]} columns={1} />
                <Link href="/blocks/grid-with-icons" />
            </Card>
            <Card>
                <ComponentMap
                    components={[{
                        type: 'Button',
                        props: {
                            theme: 'warning',
                            children: 'Component Map'
                        }
                    }, {
                        type: 'Rating',
                        props: {
                            score: 5,
                            showText: true,
                            text: '{0}.0',
                            reviewText: 'out of {0} reviews',
                            reviewCount: 56
                        }
                    }]}
                />
                <Link href="/blocks/component-map" />
            </Card>
        </div>
        <div class="block-column flex column">
            <Card title="User with Rating">
                <User
                    avatar="../img/avatar0.png"
                    name="Marcus"
                    role="Top rated seller"
                    roleTooltip="In Art & Collectibles"
                    rating={4.8}
                    showText={true}
                />
                <Link href="/blocks/user" />
            </Card>

            <Card>
                <Hero
                    heading="Hero section"
                    subHeading="With Subtitle, badges, and CTA"
                    buttons={[
                        { text: 'Get Started ->' },
                        { text: 'Contact', theme: 'secondary' }
                    ]}
                    badge={{
                        rounded: true,
                        theme: 'alert',
                        text: 'New releases'
                    }}
                />
                <Link href="/blocks/hero" />
            </Card>

            <Card title="Social proof">
                <SocialProof items={[
                    { text: '1M+', subText: 'monthly readers' },
                    { text: '500+', subText: 'tutorials' },
                    { text: '1000+', subText: 'happy customers' }
                ]} />
                <Link href="/blocks/social-proof" />
            </Card>

            <BlogCard
                href="/blocks/blog-card"
                img={{
                    src: '/img/placeholder3.png',
                    alt: 'Blog img',
                    width: 200,
                    height: 150
                }}
                title="Blog Card Title"
                text="This is a blog card with an introductory test. Click me to navigate to more examples."
            />
        </div>
        <div class="block-column flex column">
            <Card title="Tiles with Icons">
                <Tiles items={[
                    { icon: 'home', label: 'Home', href: '' },
                    { icon: 'github', label: 'Github', href: '' }
                ]} columns={1} />
                <Link href="/blocks/tiles" />
            </Card>
            <Card title="List with Icons">
                <IconList items={[
                    { icon: 'circle-check', text: '<b>Advantages</b>', color: 'var(--w-color-success)' },
                    { icon: 'circle-close', text: '<b>Disadvantages</b>', color: 'var(--w-color-alert)' }
                ]} />
                <Link href="/blocks/icon-list" />
            </Card>
            <Card>
                <FAQ items={[]}>
                    <span class="muted">Learn more about our product</span>
                </FAQ>
                <Link href="/blocks/faq" />
            </Card>
            <Card>
                <ErrorPage
                    type={404}
                    title="Page Not Found"
                    subTitle="Sorry, we cannot found the page you were looking for."
                    buttons={[
                        { text: 'Back to Home', icon: 'home' }
                    ]}
                />
                <Link href="/blocks/error-page" />
            </Card>
        </div>
    </div>
</Layout>

<style is:global lang="scss">
    @use 'webcoreui/config' as *;

    h2:not(.heading),
    section h1:not(.reset) {
        @include typography(left);
    }

    .block-column {
        @include size(w370px);
    }
</style>
