---
import { AspectRatio, Card, Switch } from 'webcoreui/astro'

import Layout from '@static/Layout.astro'
import Link from '@static/Link.astro'

import Author from '@blocks/Author/Author.astro'
import AvatarWithRating from '@blocks/AvatarWithRating/AvatarWithRating.astro'
import BlogCard from '@blocks/BlogCard/BlogCard.astro'
import ComponentMap from '@blocks/ComponentMap/ComponentMap.astro'
import DeviceMockup from '@blocks/DeviceMockup/DeviceMockup.astro'
import ErrorPage from '@blocks/ErrorPage/ErrorPage.astro'
import ExpandableTable from '@blocks/ExpandableTable/ExpandableTable.astro'
import FAQ from '@blocks/FAQ/FAQ.astro'
import Form from '@blocks/Form/Form.astro'
import GridWithIcons from '@blocks/GridWithIcons/GridWithIcons.astro'
import Hero from '@blocks/Hero/Hero.astro'
import Icon from '@blocks/Icon/Icon.astro'
import IconList from '@blocks/IconList/IconList.astro'
import Maintenance from '@blocks/Maintenance/Maintenance.astro'
import SettingCard from '@blocks/SettingCard/SettingCard.astro'
import SignUp from '@blocks/SignUp/SignUp.astro'
import SocialProof from '@blocks/SocialProof/SocialProof.astro'
import Socials from '@blocks/Socials/Socials.astro'
import Team from '@blocks/Team/Team.astro'
import Tiles from '@blocks/Tiles/Tiles.astro'
import User from '@blocks/User/User.astro'

import { avatarGroup, gridWithIconsItems, members } from '@data'
---

<Layout docs="/blocks/introduction">
    <h1>Blocks</h1>

    <div class="flex wrap justify-center">
        <div class="block-column flex column">
            <div class="relative">
                <SignUp />
                <Link href="/blocks/sign-up" />
            </div>
            <Card title="Settings" bodyClassName="flex column sm">
                <SettingCard
                    title="Security emails"
                    subTitle="Get security alerts for logins."
                >
                    <Switch toggled={true} />
                </SettingCard>
                <SettingCard
                    title="Marketing emails"
                    subTitle="Get email about updates."
                >
                    <Switch />
                </SettingCard>
                <Link href="/blocks/setting-card" />
            </Card>
            <Card>
                <GridWithIcons
                    items={[gridWithIconsItems[0]]}
                    columns={1}
                />
                <Link href="/blocks/grid-with-icons" />
            </Card>
            <Card title="Social proof">
                <SocialProof items={[
                    { text: '1M+', subText: 'monthly readers' },
                    { text: '500+', subText: 'tutorials' },
                    { text: '1000+', subText: 'happy customers' }
                ]} />
                <Link href="/blocks/social-proof" />
            </Card>
            <Card title="Socials">
                <div class="flex justify-center">
                    <Socials links={[
                        'https://twitter.com',
                        'https://facebook.com',
                        'https://youtube.com'
                    ]} size={30} />
                </div>
                <Link href="/blocks/socials" />
            </Card>
            <Card>
                <ComponentMap
                    components={[{
                        type: 'Button',
                        props: {
                            theme: 'warning',
                            children: 'Component Map'
                        }
                    }, {
                        type: 'Rating',
                        props: {
                            score: 5,
                            showText: true,
                            text: '{0}.0',
                            reviewText: 'out of {0} reviews',
                            reviewCount: 56
                        }
                    }]}
                />
                <Link href="/blocks/component-map" />
            </Card>

            <div class="relative">
                <Team
                    columns={1}
                    members={[{
                        ...members[0],
                        socials: [
                            'https://linkedin.com',
                            'https://github.com'
                        ]
                    }]}
                />
                <Link href="/blocks/team" />
            </div>

            <Card title="Avatar with Rating">
                <AvatarWithRating
                    avatar={{ img: avatarGroup.slice(0, 3) }}
                    rating={{ score: 5, color: 'var(--w-color-warning)' }}
                    text="<b>123 students</b> already enrolled"
                />
                <Link href="/blocks/avatar-with-rating" />
            </Card>
        </div>
        <div class="block-column flex column">
            <Card title="User with Rating">
                <User
                    avatar="../img/avatar0.png"
                    name="Marcus"
                    role="Top rated seller"
                    roleTooltip="In Art & Collectibles"
                    rating={4.8}
                    showText={true}
                />
                <Link href="/blocks/user" />
            </Card>

            <Card>
                <Hero
                    heading="Hero section"
                    subHeading="With Subtitle, badges, and CTA"
                    buttons={[
                        { text: 'Get Started ->' },
                        { text: 'Contact', theme: 'secondary' }
                    ]}
                    badge={{
                        rounded: true,
                        theme: 'alert',
                        text: 'New releases'
                    }}
                />
                <Link href="/blocks/hero" />
            </Card>

            <Card title="Custom icons">
                <div class="flex sm center">
                    <Icon type="svelte" size={30} />
                    <Icon type="astro" size={30} />
                    <Icon type="react" size={30} />
                </div>
                <Link href="/blocks/icon" />
            </Card>

            <BlogCard
                href="/blocks/blog-card"
                img={{
                    src: '/img/placeholder3.png',
                    alt: 'Blog img',
                    width: 200,
                    height: 150
                }}
                title="Blog Card Title"
                text="This is a blog card with an introductory test. Click me to navigate to more examples."
            />

            <DeviceMockup className="device-mockup-example">
                <div class="grid xs">
                    <AspectRatio ratio="1">
                        <img
                            src="/img/placeholder1.png"
                            width="380"
                            height="380"
                        />
                    </AspectRatio>
                    <span class="muted">Device Mockup</span>
                    <a href="/blocks/device-mockup">See examples {'->'}</a>
                </div>
            </DeviceMockup>

            <Card title="Expandable table" secondary={true}>
                <ExpandableTable
                    headings={['ID', 'Name']}
                    numberOfVisibleRows={3}
                    expandButtonLabel="Expand"
                    collapseButtonLabel="Collapse"
                    data={[
                        ['#1', 'John Doe'],
                        ['#2', 'Jane Smith'],
                        ['#3', 'Bob Johnson'],
                        ['#4', 'Emily Davis'],
                        ['#5', 'William Brown']
                    ]}
                />

                <Link href="/blocks/expandable-tables" />
            </Card>
        </div>
        <div class="block-column flex column">
            <Card title="Tiles with Icons">
                <Tiles items={[
                    { icon: 'home', label: 'Home', href: '' },
                    { icon: 'github', label: 'Github', href: '' }
                ]} columns={1} />
                <Link href="/blocks/tiles" />
            </Card>
            <Card title="List with Icons">
                <IconList items={[
                    { icon: 'circle-check', text: '<b>Advantages</b>', color: 'var(--w-color-success)' },
                    { icon: 'circle-close', text: '<b>Disadvantages</b>', color: 'var(--w-color-alert)' }
                ]} />
                <Link href="/blocks/icon-list" />
            </Card>
            <Card>
                <FAQ items={[]}>
                    <span class="muted">Learn more about our product</span>
                </FAQ>
                <Link href="/blocks/faq" />
            </Card>
            <Card>
                <ErrorPage
                    type={404}
                    title="Page Not Found"
                    subTitle="Sorry, we cannot found the page you were looking for."
                    buttons={[
                        { text: 'Back to Home', icon: 'home' }
                    ]}
                />
                <Link href="/blocks/error-page" />
            </Card>
            <Author
                img={{
                    src: '/img/avatar1.png',
                    alt: 'avatar',
                    size: 50
                }}
                name="Jake Brown"
                role="Astro developer"
                description="See examples ->"
                element="a"
                href="/blocks/author"
            />
            <Card>
                <Maintenance />
                <Link href="/blocks/maintenance" />
            </Card>
            <Card title="Form" bodyClassName="padded">
                <Form fields={[
                    { type: 'email', label: 'E-mail' },
                    { type: 'textarea', label: 'Message' },
                    { type: 'button', label: 'Send' }
                ]} />
                <Link href="/blocks/form" />
            </Card>
        </div>
    </div>
</Layout>

<style is:global lang="scss">
    @use 'webcoreui/config' as *;

    h2:not(.heading),
    section h1:not(.reset) {
        @include typography(left);
    }

    .block-column {
        @include size(w370px);
    }

    .device-mockup-example {
        @include typography(center);
        @include background(primary-50);
    }

    section .padded {
        padding-bottom: 40px !important;
    }
</style>
