---
import Layout from '@static/Layout.astro'
import Link from '@static/Link.astro'

import Card from '@components/Card/Card.astro'

import SignUp from '@blocks/SignUp/SignUp.astro'
import Tiles from '@blocks/Tiles/Tiles.astro'
import User from '@blocks/User/User.astro'
---

<Layout>
    <h1>Blocks</h1>

    <div class="grid md-2 lg-3">
        <div class="relative">
            <SignUp />
            <Link href="/blocks/sign-up" />
        </div>
        <Card title="User with Rating">
            <User
                avatar="../img/avatar0.png"
                name="Marcus"
                role="Top rated seller"
                roleTooltip="In Art & Collectibles"
                rating={4.8}
                showText={true}
            />
            <Link href="/blocks/user" />
        </Card>
        <Card title="Tiles with Icons">
            <Tiles items={[
                { icon: 'home', label: 'Home', href: '' },
                { icon: 'github', label: 'Github', href: '' }
            ]} columns={1} />
            <Link href="/blocks/tiles" />
        </Card>
    </div>
</Layout>
