---
import styles from './box.module.scss'

const {
    fullWidth = false
} = Astro.props

const classes = [
    styles.box,
    fullWidth && styles.full
]
---

<div class:list={classes}><slot /></div>
