---
import Deployments from '@blocks/Deployments/Deployments.astro'
import Profile from '@blocks/Profile/Profile.astro'
import Seller from '@blocks/Seller/Seller.astro'
import SEO from '@blocks/SEO/SEO.astro'
import Settings from '@blocks/Settings/Settings.astro'
import SignUp from '@blocks/SignUp/SignUp.astro'
import Timeline from '@blocks/Timeline/Timeline.astro'

---

<div class="examples flex">
    <div class="example-column flex column">
        <SignUp />
        <Timeline />
    </div>
    <div class="example-column flex column">
        <Settings />
        <SEO />
    </div>
    <div class="example-column flex column">
        <Profile />
        <Seller />
        <Deployments />
    </div>
</div>

<style is:global lang="scss">
    @import '../scss/config.scss';

    .examples {
        margin-top: 50px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .example-column {
        min-width: 370px;
        width: 370px;
    }
</style>
