---
import Deployments from '@examples/Deployments/Deployments.astro'
import Profile from '@examples/Profile/Profile.astro'
import Seller from '@examples/Seller/Seller.astro'
import SEO from '@examples/SEO/SEO.astro'
import Settings from '@examples/Settings/Settings.astro'
import SignUp from '@examples/SignUp/SignUp.astro'
import Timeline from '@examples/Timeline/Timeline.astro'

---

<div class="examples flex">
    <div class="example-column flex column">
        <SignUp />
        <Timeline />
    </div>
    <div class="example-column flex column">
        <Settings />
        <SEO />
    </div>
    <div class="example-column flex column">
        <Profile />
        <Seller />
        <Deployments />
    </div>
</div>

<style is:global lang="scss">
    @import '../scss/config.scss';

    .examples {
        margin-top: 50px;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .example-column {
        min-width: 370px;
        width: 370px;
    }
</style>
