---
import Menu from '@components/Menu/Menu.astro'
import logo from '../../public/img/logo.svg?raw'

const { nonStickyMenu } = Astro.props

const menuClasses = [
    'menu',
    nonStickyMenu && 'fixed'
].filter(Boolean).join(' ')

const theme = (Astro.cookies.get('w-theme')?.value || 'theme-dark') as string
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Webcore</title>
    </head>
    <body class={theme}>
        <Menu logo={{ html: logo }} className={menuClasses} />
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style is:global lang="scss">
    @import '../scss/index.scss';
    @include Setup((
        fontRegular: '/fonts/Inter-Regular.woff2',
        fontBold: '/fonts/Inter-Bold.woff2',
        themes: (
            dark: '.theme-dark',
            light: '.theme-light',
            midnight: '.theme-blue',
            green: '.theme-green',
            beige: '.theme-beige'
        )
    ));

    body {
        margin-bottom: 100px;
    }
    
    h1 {
        margin: 100px 0 10px;
        font-size: 48px;
        text-align: center;
    }

    h2 {
        color: var(--w-color-primary-10);
        font-family: Regular;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        font-size: 24px;
        margin: 0 0 20px;

        a {
            text-decoration: underline;
        }
    }

    .menu {
        &.fixed {
            position: relative;
        }
    }

    .container {
        margin-top: 20px;
    }
</style>
