@mixin Resets() {
    @if (config('fontRegular')) {
        @font-face {
            font-family: Regular;
            font-display: swap;
            src: url(#{config('fontRegular')}) format('woff2');
        }
    }

    @if (config('fontBold')) {
        @font-face {
            font-family: Bold;
            font-display: swap;
            src: url(#{config('fontBold')}) format('woff2');
        }
    }

    * {
        box-sizing: border-box;
    }
    
    body {
        background: #000;
        color: #FFF;
        margin: 0;
        font-size: 18px;
        font-family: Regular, sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
        font-family: Bold, sans-serif;
    }

    a {
        color: #FFF;
        text-decoration: none;
    }

    button {
        font-family: Regular;
    }
}    
