@use 'sass:map';

$config: (
    includeResets: true,
    includeHelperClasses: true,
    includeTooltip: true,
    includeScrollbarStyles: true
);

body {
    --w-sm-radius: 2px;
    --w-md-radius: 5px;
    --w-lg-radius: 10px;
    --w-xl-radius: 15px;
}

@function config($key) {
    @return map.get($config, $key);
}

@mixin setup($customConfig: ()) {
    $config: map.merge($config, $customConfig) !global;

    @if (config('includeResets')) {
        @include resets();
    }

    @if (config('includeHelperClasses')) {
        @include utility();
    }

    @if (config('includeScrollbarStyles')) {
        @include scrollbar();
    }

    @if (config('includeTooltip')) {
        @include tooltip();
    }

    @if (config('theme')) {
        @include theme(config('theme'));
    }

    @if (config('themes')) {
        @each $theme, $selector in config('themes') {
            @include theme($theme, $selector);
        }
    } @else if (not config('theme')) {
        @include theme('dark');
    }
}
