@use 'sass:map';

$config: (
    includeResets: true,
    includeHelperClasses: true,
    includeElementStyles: true,
    includeTooltip: true
);

:root {
    --w-avatar-border: #000;
    --w-rating-color: #FFF;
    --w-rating-empty-color: #BBB;
    --w-rating-size: 18px;
    --w-switch-off-color: #252525;
    --w-switch-on-color: #FFF;
    --w-checkbox-color: #FFF;
    --w-radio-color: #FFF;
    --w-spinner-color: #FFF;
    --w-spinner-width: 2px;
    --w-spinner-speed: 2s;
    --w-spinner-size: 30px;
    --w-spinner-dash: 8;
    --w-tooltip-background: #FFF;
    --w-tooltip-color: #000;
    --w-timeline-color: #252525;
    --w-timeline-text-color: #FFF;
    --w-timeline-counter: decimal;
}

@function config($key) {
    @return map.get($config, $key);
}

@mixin Setup($customConfig: ()) {
    $config: map.merge($config, $customConfig) !global;

    @if (config('includeResets')) {
        @include Resets();
    }

    @if (config('includeHelperClasses')) {
        @include Utility();
    }

    @if (config('includeElementStyles')) {
        @include Elements();
    }

    @if (config('includeTooltip')) {
        @include Tooltip();
    }
}
