@import '../../scss/config.scss';

.accordion {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        border-bottom: 1px solid #252525;
        padding: 10px 0;
        font-size: 16px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            svg {
                @include Transition(transform);
                color: #BBB;
                width: 15px;
                height: 15px;
                pointer-events: none;
            }

            &[data-open="true"] {
                svg {
                    transform: rotate(180deg);
                }

                + .wrapper {
                    grid-template-rows: 1fr;
        
                    .content {
                        padding: 10px 0;
                    }
                }
            }
        }

        .wrapper {
            @include Transition(grid-template-rows);
            display: grid;
            grid-template-rows: 0fr;
        }

        .content {
            @include Transition();
            overflow: hidden;
            color: #BBB;
        }
    }
}
