---
import type { AccordionProps } from './accordion'
import ArrowDown from '../../icons/arrow-down.svg?raw'
import './accordion.scss'

interface Props extends AccordionProps {}

const {
    items
} = Astro.props
---

<ul class="w-accordion" data-id="w-accordion">
    {items.map((item: AccordionProps['items'][0]) => (
        <li>
            <div class="accordion-title">
                {item.title}
                <Fragment set:html={ArrowDown} />
            </div>
            <div class="accordion-wrapper">
                <div class="accordion-content">
                    <Fragment set:html={item.content} />
                </div>
            </div>
        </li>
    ))}
</ul>

<script>
    const accordions = document.querySelectorAll('[data-id="w-accordion"]')

    Array.from(accordions).forEach(element => {
        element.addEventListener('click', event => {
            const target = event.target as HTMLDivElement

            if (target.classList.contains('accordion-title')) {
                target.classList.toggle('open')
            }
        })
    })
</script>
