---
import type { GroupProps } from './group'

import styles from './group.module.scss'

interface Props extends GroupProps {}

const {
    withSeparator,
    outline,
    className
} = Astro.props

const classes = [
    styles.group,
    withSeparator && styles.separator,
    outline && styles.outline,
    className
]
---

<div class:list={classes}>
    <slot />
</div>
