---
import {
    Button,
    Checkbox,
    Input,
    Radio,
    Select,
    Slider,
    Switch,
    Textarea
} from 'webcoreui/astro'

import type { FormField, FormProps } from './form'

interface Props extends FormProps {}

const {
    fields,
    gap,
    className,
    ...rest
} = Astro.props

const classes = [
    'grid',
    gap || 'md',
    className
]
---

<form class:list={classes} {...rest}>
    {fields.map(field => {
        const renderField = (field: FormField) => {
            switch (field.type) {
                case 'button': return (
                    <Button type="submit" {...(({ label, type, ...rest }) => rest)(field)}>
                        {field.label}
                    </Button>
                )
                case 'checkbox': return <Checkbox {...field} />
                case 'radio': return <Radio {...field} />
                case 'select': return <Select {...field} />
                case 'slider': return <Slider {...field} />
                case 'switch': return <Switch {...field} />
                case 'textarea': return <Textarea {...field} />
                case 'group': return <Fragment />
                default: return <Input {...field} />
            }
        }

        if (field.type === 'group') {
            return (
                <div class:list={['grid', gap || 'md', `col-${field.fields.length}`]}>
                    {field.fields.map(field => renderField(field))}
                </div>
            )
        }

        return renderField(field)
    })}
</form>
